:root {
    --link-color-hover:#404bbf;
    --nav-item-color:#2e2f42;
    --adress-list-color:#434455;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    position: relative;
    width: 1440px;
    height: 2592px;
    background: #FFFFFF;
}
.header {
    border-bottom: 1px solid rgba(231, 233, 252, 1)
}

.logo {
    /* Auto layout */
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
}

.logo.link {
    text-decoration: none;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4D5AE5;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.header-logo {
    width: 44px;
    color:#2E2F42;
    order: 0;
}

/* Menu Nav */
.header-nav {
    position: absolute;
    width: 261px;
    height: 24px;
    left: 347px;
    top: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin: 40px;
}
.nav.list {
    list-style: none;
}
.nav.item {
    list-style-type: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--nav-item-color);
    flex: none;
    order: 0;
    flex-grow: 0;
}
.nav.link {
    text-decoration: none;
}
.nav.link:hover {
    color: var(--link-color-hover);
}
.nav.link:focus {
    color:#404bbf;
}

/* Adress */
.adress.list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--adress-list-color);
}
.adress.link:hover {
    color: #404bbf;
}
.adress.link:focus {
    color:#404bbf;
}

.hero {
    background: #2E2F42;
}
.hero-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.hero-btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.features {
    position: absolute;
    width: 1128px;
    height: 104px;
    left: 156px;
    top: 792px;
}

.section-2 {
    position: absolute;
    width: 1128px;
    height: 412px;
    left: 156px;
    top: 1016px;
}

.section-3 {
    position: absolute;
    width: 1440px;
    height: 732px;
    left: 0px;
    top: 1548px;
}

.footer {
    position: absolute;
    width: 1440px;
    height: 312px;
    left: 0px;
    top: 2280px;
}